.board-header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 0 5px;
    min-height: 49px;
    align-items: center;
    color: #243757;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.25rem;
    height: 32px;
    background-color: rgba(0, 0, 0, 0);
        margin-top: 10px;
        width: 100%;
        
        .header-options {
        margin-top: 10px;
        display: grid;
        width: 100%;
        align-items: center;
        grid-template-columns: max-content max-content max-content auto;
        .header-title{
            background-color: rgba(255, 255, 255, 0.39);
            border-radius: 5px;
            padding: 0px 10px;     
            width: 100%;   
        }
        .header-stats{
            background-color: rgba(255, 255, 255, 0.39);
            border-radius: 5px;
            padding: 0px 10px;        
        }
        .board-title-input {
            width: 150px;
            outline: none;
            border: none;
            border-radius: 3px;
            background-color: #fff;
            color: #00395aec;
            box-shadow: inset 0 0 0 2px #0079bf;
            margin: 0;
            padding: 8px 12px;
        }
        .board-title-input::placeholder {
            opacity: 1;
            color: #00395aec;
        }

        > *:not(:first-child) {
            margin-left: 40px;
        }
        .header-avatars {
            display: flex;
            height: 32px;
            width: max-content;
            align-items:center ;
            margin-left: 20px;
            > * {
                height: 25px;
                width: 25px;
                border: 0.5px solid rgba(0, 0, 0, 0.37);
            }
            > *:not(:first-child) {
                margin-left: -7px;
            }
            .add-member-avatar{
                margin-left: -5px;
                background-color: #0079bf;
                display: flex;
                svg{
                    height: 20px;
                    padding-right: 1.5px;
                }
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        .open-side-bar-btn {
            display: flex;
            background-color: rgba(255, 255, 255, 0.39);
            color: #243757;
            border-radius: 5px;
            justify-self: flex-end;
            align-items: center;
            .path{
                height: 100px;
            }
        }
    }
}
