.board-header {
    display: flex;
    position: fixed;
    justify-content: space-between;
    padding: 0 rem(5px);
    min-height: rem(49px);
    align-items: center;
    color: #243757;
    cursor: pointer;
    font-weight: 700;
    font-size: 1.25rem;
    height: rem(32px);
    background-color: rgba(0, 0, 0, 0);
    margin-top: rem(7px);
    width: 100%;
    z-index: 1;

    .header-options {
        margin-top: rem(10px);
        display: grid;
        width: 100%;
        align-items: center;
        grid-template-columns: max-content max-content max-content auto;
 
        .header-title {
            background-color: rgba(255, 255, 255, 0.39);
            border-radius: rem(5px);
            padding: rem(0px) rem(10px);
            width: 100%;
            &:hover{
                opacity: 0.8;
            }
        }
        .header-stats {
            display: flex;
            align-items: center;
            background-color: rgba(255, 255, 255, 0.39);
            border-radius: rem(5px);
            padding: rem(0px) rem(10px);
            svg{
                margin-right: rem(3px);
            }
            &:hover{
                opacity: 0.8;
            }
        }
        .board-title-input {
            width: rem(150px);
            outline: none;
            border: none;
            border-radius: rem(3px);
            background-color: #fff;
            color: #00395aec;
            box-shadow: inset 0 0 0 rem(2px) #0079bf;
            margin: 0;
            padding: rem(8px) rem(12px);
        }
        .board-title-input::placeholder {
            opacity: 1;
            color: #00395aec;
        }

        > *:not(:first-child) {
            margin-left: rem(20px);
        }
        .header-avatars {
            display: flex;
            height: rem(32px);
            width: max-content;
            align-items: center;
            margin-left: rem(20px);
            > * {
                height: rem(25px);
                width: rem(25px);
                border: rem(0.5px) solid rgba(0, 0, 0, 0.37);
            }
            > *:not(:first-child) {
                margin-left: rem(-7px);
            }
            .add-member-avatar {
                margin-left: rem(-5px);
                background-color: #0079bf;
                display: flex;
                svg {
                    height: rem(20px);
                    padding-right: rem(1.5px);
                }
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .open-side-bar-btn {
            display: flex;
            background-color: rgba(255, 255, 255, 0.39);
            color: #243757;
            border-radius: rem(5px);
            justify-self: flex-end;
            align-items: center;
            .path {
                height: rem(100px);
            }
            &:hover{
                opacity: 0.8;
            }
        }
    }
}
