.dates-form {
    z-index: 3;
    background-color: #ffffff;
    flex-wrap: wrap;
    position: absolute;
    border-radius: 5px;
    padding: 5px;
    border: 0.5px solid black;
    flex-direction: column;
    // box-shadow: 0 1px 0 #091e4240;
    input {
        background-color: white;
        padding-bottom: 15px;
        font: revert;
    }
    .dates {
        width: 179px;
        height: 120px;
        margin-right: 5px;
        margin-left: 5px;
    }
    .cancel-change-date-btn {
        width: 70px;
        height: 15px;
        align-self: center;
        background-color: white;
        color: #243757;
        margin-bottom: 20px;
    }
}
