.edit-labels-container {
    z-index: 2;
    position: absolute;
    display: flex;
    left: 120px;
    width: 270px;
    flex-direction: column;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    text-decoration: none;
    .edit-labels-header {
        width: 100%;
        display: flex;
        border-bottom: 0.2px solid rgba(94, 108, 132, 0.25);
        justify-content: space-around;
        padding-block: 5px;
        align-items: center;
        .title {
            line-height: 0.9;
            flex-grow: 1;
            color: #243757;
            font-size: 1.2rem;
            text-align: center;
            flex-grow: 1;
        }
        .close-edit-labels-btn {
            margin: 0;
            padding: 0;
            color: #233655;
            background-color: transparent;
            border: none;
            height: 32px;
            width: 32px;
            cursor: pointer;
            outline: none;
        }
    }
    .label-preview {
        display: flex;
        &:first-child {
            margin-top: 5px;
        }
        .label-title {
            color: #fff6f6;
            margin: 0px 5px 5px 5px;
            width: 244px;
            height: 32px;
            padding: 6px 12px;
            min-height: 20px;
            border-radius: 3px;
            align-content: center;
            cursor: pointer;
            display: grid;
            grid-template-columns:auto 50px;
            svg {
                align-self: center;
                justify-self: flex-end;
                grid-column: 2/3;
            }
        }
        .open-edit-label-btn {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 0 4px;
            width: 32px;
            height: 32px;
            background-color: transparent;
            padding: 6px;
            border-radius: 3px;
            cursor: pointer;
            border: none;
            &:hover {
               
                background-color: rgba(92, 107, 117, 0.212);
            }
        }
    }
    .create-label-btn {
        color: #233655;
        background-color: transparent;
        border: none;
        padding: 8px;
        font-size: 1.1rem;
        cursor: pointer;
        outline: none;
        &:hover {
            background-color: rgba(92, 107, 117, 0.212);
        }
    }
}

.edit-label-container {
    z-index: 2;
    position: absolute;
    display: flex;
    left: 120px;
    width: 300px;
    flex-direction: column;
    background-color: #fff;
    color: #243757;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    text-decoration: none;
    .edit-label-header {
        width: 100%;
        display: flex;
        border-bottom: 0.2px solid rgba(94, 108, 132, 0.25);
        justify-content: space-around;
        padding-block: 5px;
        align-items: center;
        .title {
            line-height: 0.9;
            flex-grow: 1;
            color: #243757;
            font-size: 1.2rem;
            text-align: center;
            flex-grow: 1;
        }
        .close-edit-label-btn {
            margin: 0;
            padding: 0;
            color: #233655;
            background-color: transparent;
            border: none;
            height: 32px;
            width: 32px;
            cursor: pointer;
            outline: none;
        }
    }
    .edit-label-form {
        margin-left: 4px;
        .edit-label-colors-pick {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            .color {
                margin: 0px 8px 8px 0px;
                width: 48px;
                height: 32px;
                border-radius: 3px;
                cursor: pointer;
                &:hover {
                    opacity: 0.5;
                }
                &:nth-child(5n+5) {
                    margin-right: 4px;
                }
            }
        }
        .edit-label-controls {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin: 0;
            > * {
                border-radius: 3px;
                color: #fff;
                height: 32px;
                padding: 6px;
                &:hover {
                    opacity: 0.5;
                }
            }
            .confirm-btn {
                background-color: #5aac44;
            }
            .delete-btn {
                margin-right: 4px;
                background-color: red;
            }
        }
    }
}
