                .task-details {
                    background-color: $clr1;
                    background-origin: content-box;
                    padding: 0px;
                    box-sizing: border-box;
                    position: absolute;
                    color: #5e6c84;
                    font-size: rem(12px);
                    font-weight: 500;
                    h3,
                    h4,
                    h5,
                    h6 {
                        font-size: rem(16px);
                        line-height: rem(20px);
                        margin: 0 0 rem(5px) 0;
                    }
                    .edit-members-container {
                        left: rem(408px);
                        top: rem(186px);
                    }
                    .edit-labels-container {
                        left: rem(408px);
                        top: rem(217px);
                    }
                    .dates-form {
                        left: rem(486px);
                        top: rem(304px);
                    }
                    .attachment {
                        left: rem(475px);
                        top: rem(345px);
                        z-index: 4;
                        position: absolute;
                        background-color: #fff;
                        border-radius: rem(3px);
                        padding: rem(10px);
                        text-decoration: none;
                        box-shadow: 0 rem(8px) rem(16px) rem(-4px) rgba(9, 30, 66, 0.25), 0 0 0 rem(1px) rgba(9, 30, 66, 0.08);
                        .container {
                            justify-content: space-between;
                            .btn {
                                margin-top: rem(5px);
                            }
                        }
                        label {
                            padding: rem(5px);
                            margin-bottom: rem(10px);
                        }
                    }
                    button {
                        width: fit-content;
                    }
                    input {
                        padding: rem(5px);
                        // margin-bottom: 10px;
                    }
                    .header {
                        title {
                            align-content: center;
                        }
                    }
                }
                
                .colors-pick {
                    left: rem(473px);
                    top: rem(62px);
                    width: rem(200px);
                    z-index: 4;
                    position: absolute;
                    background-color: #fff;
                    border-radius: rem(3px);
                    padding: rem(10px);
                    text-decoration: none;
                    box-shadow: 0 rem(8px) rem(16px) rem(-4px) rgba(9, 30, 66, 0.25), 0 0 0 rem(1px) rgba(9, 30, 66, 0.08);
                    flex-wrap: wrap;
                    label {
                        display: block;
                        width: rem(200px);
                        margin: rem(10px) 0px;
                    }
                }
                
                .color {
                    width: rem(48px);
                    height: rem(32px);
                    margin: 0px rem(8px) rem(8px) 0px;
                    border-radius: rem(3px);
                    cursor: pointer;
                    &:hover {
                        opacity: 0.5;
                    }
                }
                
                .details {
                    margin-left: rem(10px);
                    width: 70%;
                    .dew-date {
                        margin-left: rem(33px);
                        h3 {
                            font-size: rem(12px);
                            font-weight: 500;
                            color: #5e6c84;
                        }
                        .checkbox {
                            color: #0079bf;
                            width: rem(20px);
                            margin-right: rem(5px);
                            svg {
                                height: rem(20px);
                                width: rem(20px);
                            }
                        }
                    }
                    .dew-date-details {
                        font-size: rem(14px);
                        font-weight: 400;
                        border-radius: rem(3px);
                        cursor: pointer;
                        padding: rem(6px) rem(12px);
                        color: #172B4D;
                        background-color: rgba(9, 30, 66, 0.04);
                        align-items: center;
                        width: fit-content;
                        p {
                            margin: 0 rem(5px) 0 0;
                        }
                        .complete {
                            background-color: rgb(97, 189, 79);
                            color: #FFFFFF;
                            padding-top: rem(1px);
                            height: rem(20px);
                            font-size: rem(12px);
                            border-radius: rem(2px);
                            padding: 0 rem(3px);
                        }
                        & .overdue {
                            background-color: #eb5a46;
                        }
                        // &>* {
                        //     margin: 0 5px 0 0;
                        // }
                    }
                    .details-labeld-members {
                        margin-left: rem(33px);
                    }
                }
                
                .window {
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    overflow: hidden;
                    background-color: rgba(0, 0, 0, .64);
                    top: 0;
                    left: 0;
                    align-items: flex-start;
                    justify-content: center;
                }
                
                .card {
                    width: rem(768px);
                    background-color: #f4f5f7;
                    border-radius: rem(2px);
                    z-index: 2;
                    overflow: hidden;
                    min-height: rem(500px);
                }
                
                .cover {
                    background-color: $clr1;
                    min-width: rem(50px);
                    align-items: flex-end;
                    justify-content: space-between;
                    margin-bottom: rem(20px);
                    .btn-cover {
                        background-color: rgba(0, 0, 0, .08);
                        color: #172b4d;
                        border-radius: rem(3px);
                        padding: rem(6px) rem(12px) rem(6px) rem(6px);
                        text-decoration: none;
                        padding-top: rem(10px);
                        padding-left: rem(10px);
                        height: rem(35px);
                        .icon {
                            margin-left: rem(5px);
                            width: rem(15px);
                            padding-bottom: rem(7px);
                        }
                    }
                    img {
                        position: absolute;
                        align-self: center;
                        margin: 0;
                        width: rem(250px);
                        height: rem(150px);
                    }
                    .task-details-close {
                        margin: rem(10px) rem(10px) 0 0
                    }
                }
                
                .img-hight {
                    background-color: #333434;
                    height: rem(150px);
                }
                
                .bgc-hight {
                    height: rem(100px);
                }
                
                .title {
                    align-content: center;
                    .taskIcon {
                        margin: 0 rem(2px) 0 rem(10px);
                    }
                }
                
                .title-input {
                    font-size: 1.125rem;
                    line-height: 1;
                    font-weight: bold;
                    background-color: #f4f5f7;
                    border-radius: rem(5px);
                    border: none;
                    color: #5e6c84;
                    width: rem(400px);
                }
                
                .title-input:focus {
                    background-color: white;
                    border: none;
                }
                
                .main {
                    justify-content: space-between;
                }
                
                .sidebar {
                    width: rem(200px);
                    font-size: rem(14px);
                    line-height: rem(20px);
                    font-weight: 400;
                    .sidebar-title {
                        font-size: rem(12px);
                        font: 400 rem(13.3333px) Arial;
                        padding: rem(5px);
                        color: #172b4d;
                    }
                    .btn {
                        align-items: center;
                        color: #5e6c84;
                        background-color: rgba(9, 30, 66, .04);
                        width: 90%;
                        height: rem(32px);
                        text-decoration: none;
                        border-radius: rem(3px);
                        margin: 0;
                        margin-top: rem(8px);
                        max-width: rem(300px);
                    }
                    .icon {
                        margin-right: rem(10px);
                    }
                    .btn:hover {
                        background-color: rgb(221, 221, 221);
                    }
                }
                
                .comments {
                    justify-content: space-around;
                    margin-top: rem(10px);
                    .MuiGrid-root {
                        margin-bottom: rem(30px);
                        margin-left: rem(5px);
                        min-height: rem(20px);
                        input {
                            padding: rem(8px) rem(12px);
                            width: 91%;
                            color: #172b4d;
                            font-size: rem(14px);
                            line-height: rem(20px);
                            font-weight: 400;
                            background-color: #fff;
                            border: rem(1px) solid rgb(160, 160, 160);
                            border-radius: rem(3px);
                            transition-property: background-color, border-color, box-shadow;
                        }
                    }
                }
                
                .comment {
                    align-items: flex-end;
                    margin-top: rem(5px);
                    .input-with-icon-grid {
                        background-color: #fff;
                    }
                    .avatar {
                        width: rem(30px);
                        height: rem(30px);
                        font-size: 0.8rem;
                        margin-right: rem(5px)
                    }
                }
                
                .taskIcon {
                    margin: rem(10px);
                }
                
                .form {
                    margin-top: rem(10px);
                    margin-bottom: rem(10px);
                    .title {
                        align-items: center;
                        margin-bottom: rem(15px);
                        margin-top: rem(5px);
                        h3 {
                            font-size: 1.125rem;
                            line-height: 1;
                            font-weight: bold;
                            margin: 0;
                        }
                    }
                    .description-icon {
                        margin: 0 rem(5px) 0 0;
                    }
                    .textarea {
                        width: 90%;
                        margin-left: rem(32px);
                        min-height: rem(130px);
                        height: fit-content;
                        border: none;
                        background-color: #eaecf0;
                        font-size: rem(14px);
                        font-family: inherit;
                        resize: none;
                        border-radius: rem(5px);
                        word-spacing: rem(2px);
                        padding: rem(8px) rem(12px);
                        &:focus {
                            background-color: white;
                            border: rem(1px) solid #172b4d;
                        }
                    }
                }
                
                .members {
                    margin-bottom:rem(10px);
                    margin-left: rem(35px);
                    border: none;
                    color: #5e6c84;
                    margin: 0 rem(8px) rem(8px) 0;
                    h3 {
                        font-size: rem(12px);
                        font-weight: 500;
                    }
                    .avatar {
                        width: rem(36px);
                        height: rem(35px);
                        font-size: 1rem;
                    }
                    .add-avatar {
                        cursor: pointer;
                        color: #5e6c84;
                        background-color: rgba(9, 30, 66, .04);
                        border: none;
                        width: rem(35px);
                        height: rem(35px);
                        &:hover {
                            background-color: rgb(221, 221, 221);
                        }
                    }
                }
                
                .labels {
                    h3 {
                        font-size: rem(12px);
                        font-weight: 500;
                        color: #5e6c84;
                    }
                    .label {
                        font-size: 0.8rem;
                        margin-right: rem(3px);
                        color: white;
                        font-weight: 600;
                        min-width: rem(50px);
                        width: fit-content;
                        height: rem(32px);
                        padding: 0 rem(12px);
                        border-radius: rem(3px);
                        padding-top: rem(5px);
                        margin: 0 rem(4px) rem(4px) 0;
                    }
                    .add-label {
                        cursor: pointer;
                        color: #5e6c84;
                        text-align: center;
                        min-width: rem(32px);
                        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                        font-weight: 500;
                        font-size: 1.25rem;
                        padding: 0;
                        background-color: rgba(9, 30, 66, .04);
                        &:hover {
                            background-color: rgb(221, 221, 221);
                        }
                    }
                }
                
                .imgs {
                    margin-bottom: rem(15px);
                    margin-top: rem(5px);
                    .icon {
                        margin: 0 rem(5px) 0 0;
                    }
                    .title {
                        font-size: 1.125rem;
                    }
                }
                
                .img-details {
                    margin-left: rem(32px);
                    &:hover {
                        background-color: rgba(9, 30, 66, .04);
                    }
                    .container {
                        margin-left: rem(10px);
                        width: fit-content;
                    }
                    .title {
                        font-weight: 700;
                        color: #172b4d;
                        font-size: rem(14px);
                    }
                    .btn {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                    span {
                        margin-left: rem(5px);
                        margin-right: rem(5px);
                    }
                    .img-container {
                        width: rem(112px);
                        height: rem(80px);
                        background-color: #333;
                        margin-bottom: rem(5px);
                        border-radius: rem(3px);
                        justify-content: space-around;
                        .preview-img {
                            height: 100%;
                            border: rem(1px) solid black;
                        }
                    }
                }