// @include for-narrow-layout {
.task-details {
    background-color: $clr1;
    background-origin: content-box;
    padding: 0px;
    box-sizing: border-box;
    position: absolute;
    color: #5e6c84;
    font-size: 12px;
    font-weight: 500;
    h3,
    h4,
    h5,
    h6 {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 5px 0;
    }
    .edit-members-container {
        left: 408px;
        top: 186px;
    }
    .edit-labels-container {
        left: 408px;
        top: 217px;
    }
    .dates-form {
        left: 486px;
        top: 304px;
    }
    .attachment {
        left: 475px;
        top: 345px;
        z-index: 4;
        position: absolute;
        background-color: #fff;
        border-radius: 3px;
        padding: 10px;
        text-decoration: none;
        box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
        .container {
            justify-content: space-between;
            .btn {
                margin-top: 5px;
            }
        }
        label {
            padding: 5px;
            margin-bottom: 10px;
        }
    }
    button {
        width: fit-content;
    }
    input {
        padding: 5px;
        // margin-bottom: 10px;
    }
    .header {
        title {
            align-content: center;
        }
    }
}

.colors-pick {
    left: 473px;
    top: 62px;
    width: 200px;
    z-index: 4;
    position: absolute;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    flex-wrap: wrap;
    label {
        display: block;
        width: 200px;
        margin: 10px 0px;
    }
}

.color {
    width: 48px;
    height: 32px;
    margin: 0px 8px 8px 0px;
    border-radius: 3px;
    cursor: pointer;
    &:hover {
        opacity: 0.5;
    }
}

.details {
    margin-left: 10px;
    width: 70%;
    .dew-date {
        margin-left: 33px;
        h3 {
            font-size: 12px;
            font-weight: 500;
            color: #5e6c84;
        }
        .checkbox {
            color: #0079bf;
            width: 20px;
            margin-right: 5px;
            svg {
                height: 20px;
                width: 20px;
            }
        }
    }
    .dew-date-details {
        font-size: 14px;
        font-weight: 400;
        border-radius: 3px;
        cursor: pointer;
        padding: 6px 12px;
        color: #172B4D;
        background-color: rgba(9, 30, 66, 0.04);
        align-items: center;
        width: fit-content;
        p {
            margin: 0 5px 0 0;
        }
        .complete {
            background-color: rgb(97, 189, 79);
            color: #FFFFFF;
            padding-top: 1px;
            height: 20px;
            font-size: 12px;
            border-radius: 2px;
            padding: 0 3px;
        }
        & .overdue {
            background-color: #eb5a46;
        }
        // &>* {
        //     margin: 0 5px 0 0;
        // }
    }
    .details-labeld-members {
        margin-left: 33px;
    }
}

.window {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .64);
    top: 0;
    left: 0;
    align-items: flex-start;
    justify-content: center;
    background-color: #333;
}

.card {
    position: fixed;
    width: 335px;
    left: 18px;
    background-color: #f4f5f7;
    // background-color: red;
    border-radius: 2px;
    z-index: 2;
    // overflow: hidden;
    // min-height: 500px;
    overflow: auto;
    .menu {
        display: initial;
        align-items: center;
        margin-bottom: 10px;
        h3 {
            font-size: 0.7rem;
            // line-height: 1;
            font-weight: bold;
            margin: 0;
        }
        .menu-icon {
            margin: 0 7px 0 10px;
            color: rgb(194, 193, 193);
        }
    }
    .menu-sidebar {
        position: fixed;
        left: 25px;
        top: 116px;
        z-index: 99;
        background-color: #f4f5f7;
        width: 300px;
        height: 270px;
        font-size: rem(14px);
        line-height: 20px;
        font-weight: 400px;
        transition: 0.3s;
        .btn {
            align-items: center;
            color: #5e6c84;
            background-color: rgba(9, 30, 66, .04);
            width: 90%;
            height: 32px;
            text-decoration: none;
            border-radius: 3px;
            margin: 0;
            margin-top: 8px;
            max-width: 300px;
        }
        .icon {
            margin-right: 10px;
        }
    }
}

.attachment2 {
    background-color: #f4f5f7;
    position: fixed;
    left: 25px;
    top: 116px;
    z-index: 100;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    .container {
        justify-content: space-between;
        .btn {
            margin-top: 5px;
        }
    }
    label {
        padding: 5px;
        margin-bottom: 10px;
    }
    button {
        width: fit-content;
    }
    input {
        padding: 5px;
        // margin-bottom: 10px;
    }
}

.cover {
    background-color: $clr1;
    min-width: 50px;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    .btn-cover {
        background-color: rgba(0, 0, 0, .08);
        color: #172b4d;
        border-radius: 3px;
        padding: 6px 12px 6px 6px;
        text-decoration: none;
        padding-top: 10px;
        padding-left: 10px;
        height: 35px;
        .icon {
            margin-left: 5px;
            width: 15px;
            padding-bottom: 7px;
        }
    }
    img {
        position: absolute;
        align-self: center;
        margin: 0;
        width: 250px;
        height: 150px;
    }
    .task-details-close {
        margin: 10px 10px 0 0
    }
}

.img-hight {
    background-color: #333434;
    height: 150px;
}

.bgc-hight {
    height: 100px;
}

.title {
    align-content: center;
    .taskIcon {
        margin: 0 2px 0 10px;
    }
}

.title-input {
    font-size: 1rem;
    line-height: 1;
    font-weight: bold;
    background-color: #f4f5f7;
    border-radius: 5px;
    border: none;
    color: #5e6c84;
    width: 400px;
}

.title-input:focus {
    background-color: white;
    border: none;
}

.main {
    justify-content: space-between;
}

.sidebar {
    visibility: hidden;
    width: 200px;
    font-size: rem(14px);
    line-height: 20px;
    font-weight: 400px;
    .sidebar-title {
        font-size: 12px;
        font: 400 13.3333px Arial;
        padding: 5px;
        color: #172b4d;
    }
    .btn {
        align-items: center;
        color: #5e6c84;
        background-color: rgba(9, 30, 66, .04);
        width: 90%;
        height: 32px;
        text-decoration: none;
        border-radius: 3px;
        margin: 0;
        margin-top: 8px;
        max-width: 300px;
    }
    .icon {
        margin-right: 10px;
    }
    .btn:hover {
        background-color: rgb(221, 221, 221);
    }
}

.comments {
    justify-content: space-around;
    margin-top: 10px;
    .MuiGrid-root {
        margin-bottom: 30px;
        margin-left: 5px;
        min-height: 20px;
        input {
            padding: 8px 12px;
            width: 91%;
            color: #172b4d;
            font-size: 14px;
            line-height: 20px;
            font-weight: 400;
            background-color: #fff;
            border: 1px solid rgb(160, 160, 160);
            border-radius: 3px;
            transition-property: background-color, border-color, box-shadow;
        }
    }
}

.comment {
    align-items: flex-end;
    margin-top: 5px;
    .input-with-icon-grid {
        background-color: #fff;
    }
    .avatar {
        width: 30px;
        height: 30px;
        font-size: 0.8rem;
        margin-right: 5px
    }
}

.taskIcon {
    margin: 10px;
}

.form {
    margin-top: 10px;
    margin-bottom: 10px;
    .title {
        align-items: center;
        margin-bottom: 15px;
        margin-top: 5px;
        h3 {
            font-size: 1rem;
            line-height: 1;
            font-weight: bold;
            margin: 0;
        }
    }
    .description-icon {
        margin: 0 5px 0 0;
    }
    .textarea {
        width: 100%;
        margin-left: 32px;
        min-height: 50px;
        height: fit-content;
        border: none;
        background-color: #eaecf0;
        font-size: 14px;
        font-family: inherit;
        resize: none;
        border-radius: 5px;
        word-spacing: 2px;
        padding: 8px 12px;
        &:focus {
            background-color: white;
            border: 1px solid #172b4d;
        }
    }
}

.members {
    margin-bottom: 10px;
    margin-left: 35px;
    border: none;
    color: #5e6c84;
    margin: 0 8px 8px 0;
    h3 {
        font-size: 12px;
        font-weight: 500;
    }
    .avatar {
        width: 36px;
        height: 35px;
        font-size: 1rem;
    }
    .add-avatar {
        cursor: pointer;
        color: #5e6c84;
        background-color: rgba(9, 30, 66, .04);
        border: none;
        width: 35px;
        height: 35px;
        &:hover {
            background-color: rgb(221, 221, 221);
        }
    }
}

.labels {
    h3 {
        font-size: 12px;
        font-weight: 500;
        color: #5e6c84;
    }
    .label {
        font-size: 0.8rem;
        margin-right: 3px;
        color: white;
        font-weight: 600;
        min-width: 50px;
        width: fit-content;
        height: 32px;
        padding: 0 12px;
        border-radius: 3px;
        padding-top: 5px;
        margin: 0 4px 4px 0;
    }
    .add-label {
        cursor: pointer;
        color: #5e6c84;
        text-align: center;
        min-width: 32px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: 500;
        font-size: 1.25rem;
        padding: 0;
        background-color: rgba(9, 30, 66, .04);
        &:hover {
            background-color: rgb(221, 221, 221);
        }
    }
}

.imgs {
    margin-bottom: 15px;
    margin-top: 5px;
    .icon {
        margin: 0 5px 0 0;
    }
    .title {
        font-size: 1.125rem;
    }
}

.img-details {
    margin-left: 32px;
    &:hover {
        background-color: rgba(9, 30, 66, .04);
    }
    .container {
        margin-left: 10px;
        width: fit-content;
    }
    .title {
        font-weight: 700;
        color: #172b4d;
        font-size: 14px;
    }
    .btn {
        text-decoration: underline;
        cursor: pointer;
    }
    span {
        margin-left: 5px;
        margin-right: 5px;
    }
    .img-container {
        width: 112px;
        height: 80px;
        background-color: #333;
        margin-bottom: 5px;
        border-radius: 3px;
        justify-content: space-around;
        .preview-img {
            height: 100%;
            border: 1 px solid black;
        }
    }
}

// }